// base variables and functions

// em calculation
$em-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

// grid variables
$row-width: em-calc(800);
$total-columns: 12;
$column-gutter: em-calc(30);

// global breakpoint vars
$bp-layout: 780;
$bp-columns: 880;
$bp-typography: 900;
$bp-menu: 920;

// color variables
$dark: #2a3539;
$blue: #00a6a6;
$green: #86c393;
$tan: #fce4cc;
$grey: #e7ecef;
$warning: #C62626;

// fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Fjalla One', sans-serif;
