<article class="excerpt">
  <h3><a href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}</a></h3>
  {% if post.image: %}
    <img src="{{ post.get_thumbnail() }}" class="featured-thumb" alt="Featured Image">
  {% endif %}
  <div class="meta">
    <span class="author">{{ post.author.nickname }}</span> &bull;
    <span class="date">{{ post.timestamp.strftime('%B %-d, %Y') }}</span>
  </div>
  <p>{{ post.body|striptags|truncate(300) }}</p>
  <a href="{{ url_for('post', slug=post.slug) }}" class="simple-button">View Full Post</a>
</article>