<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Open Graph -->
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="">
  <meta property="og:site_name" content="">

  <!-- May the source be with you! -->

  <title>{{title}}</title>

  <link rel="author" href="/humans.txt">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="sitemap" href="/sitemap.xml" type="application/xml" title="Sitemap">

  <link rel="icon" href="/static/images/favicon.png" />

  <link rel="stylesheet" href="/static/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

  <script src="/static/js/modernizr.custom.js"></script>

  {# Markdown editor javascript, if logged in
  {% if g.user.is_authenticated() %}
    {{ pagedown.html_head() }}
  {% endif %}
  #}
</head>
<body>
  <aside class="sidebar">
    <div id="map" data-lat="{{ config.LOCATION.latitude }}" data-long="{{ config.LOCATION.longitude }}">
      <div class="location-marker"><span>{{ config.LOCATION.placename }}</span></div>
    </div>
  </aside><!-- /.sidebar -->

  <div class="container">

    <header class="page-header" role="banner">
      <nav class="main-menu" role="navigation">
        <a href="/" class="logo">{% include 'logo.svg' %}</a>
        <a href="#" class="mobile menu-trigger">Menu</a>
        <ul class="menu">
          <li><a href="/about">About</a></li>
          <li><a href="/log">Log</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <!-- End header -->
    </header>

    <div class="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="alerts menu">
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>

    <footer class="page-footer" role="contentinfo">
    </footer>

  </div><!-- /.container -->

  <script src="http://openlayers.org/en/v3.6.0/build/ol.js" type="text/javascript"></script>
  <script src="/static/js/app.js" type="text/javascript"></script>
</body>
</html>

