{% extends "base.html" %}

{% block content %}
  <h1>Contact Us</h1>
  <form action="" method="post" name="contact" class="contact-form">
    {{ form.hidden_tag() }}

    <div class="input-group {% if form.name.errors %}error{% endif %}">
      <label>Your Name</label>
      {{ form.name() }}
      {% for error in form.name.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="input-group {% if form.email.errors %}error{% endif %}">
      <label>Email</label>
      {{ form.email() }}
      {% for error in form.email.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="input-group {% if form.message.errors %}error{% endif %}">
      <label>Message</label>
      {{ form.message(rows=8, cols=20) }}
      {% for error in form.message.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block sidebar %}
  {% include '_map.html' %}
{% endblock %}

{% block adminbar %}
  {% include '_adminbar.html' %}
{% endblock %}