{% extends "base.html" %}

{% block content %}

  {% for post in posts.items %}
    {% include 'excerpt.html' %}
  {% endfor %}

  {% if posts.has_prev or posts.has_next %}
  <ul class="pagination menu">
    {% if posts.has_prev %}
      <li><a href="{{ url_for('log', page=posts.prev_num) }}" class="prev">Previous page</a></li>
    {% endif %}
    {%- for page in posts.iter_pages() %}
      {% if page %}
        {% if page != posts.page %}
          <li><a href="{{ url_for('log', page=page) }}">{{ page }}</a></li>
        {% else %}
          <li><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {%- endfor %}
    {% if posts.has_next %}
      <li><a href="{{ url_for('log', page=posts.next_num) }}" class="next">Next page</a></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% include 'map.html' %}
{% endblock %}
