{% extends "base.html" %}

{% block content %}
  <h1>{{ action }} Page</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}

    <div class="input-group {% if form.title.errors %}error{% endif %}">
      <label>Page Title</label>
      {{ form.title() }}
      {% for error in form.title.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="input-group {% if form.slug.errors %}error{% endif %}">
      <label>Slug (must contain only letters, numbers, and dashes)</label>
      {{ form.slug() }}
      {% for error in form.slug.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="input-group {% if form.body.errors %}error{% endif %}">
      <label>Body</label>
      {{ form.body(rows=8, cols=20) }}
      {% for error in form.body.errors %}
        <div class="error-msg">{{ error }}</div>
      {% endfor %}
    </div>

    <button type="submit">{{ action }} Page</button>
  </form>
{% endblock %}

{% block sidebar %}
  {% if post and post.image: %}
    <div class="featured-image" style="background-image:url({{post.image}})"></div>
  {% else %}
    {% include '_map.html' %}
  {% endif %}
{% endblock %}