{% extends "base.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <div class="meta">
    <span class="author">{{ post.author.nickname }}</span>
    <span class="date">{{ post.timestamp.strftime('%B %-d, %Y') }}</span>
  </div>
  {{ post.body|safe }}
{% endblock %}

{% block sidebar %}
  {% if post.image: %}
    <div class="featured-image" style="background-image:url({{post.image}})"></div>
  {% else %}
    {% include '_map.html' %}
  {% endif %}
{% endblock %}

{% block adminbar %}
  <a href="{{ url_for('edit_post', slug=post.slug) }}" class="simple-button edit">Edit</a>
  {% include '_adminbar.html' %}
{% endblock %}
